    <header>
        <nav class="navbar navbar-light" style="background-color:rgb(0, 0, 0, 0.3);">
          <span class="navbar-text white-text">
          	<b>WMI CHAT ——你的轻量级在线聊天室</b>  
          </span>

	  <ul class="nav navbar-nav nav-flex-icons ml-auto">
			<li class="nav-item px-3">
	    	<%= link_to developlog_path, class: "nav-link waves-effect waves-light" do %>
	    		<i class="fa fa-address-card"></i> <span class="clearfix d-none d-sm-inline-block">用户指南</span>
	    	<% end %>
			</li>
	  </ul>
        </nav>
    </header>
